.tab {
  padding: 1.8rem 3.4rem;
  background-color: var(--color-tab-bg);
  color: var(--color-dark-black);
  border-radius: 4.8rem;
  -webkit-border-radius: 4.8rem;
  -moz-border-radius: 4.8rem;
  -ms-border-radius: 4.8rem;
  -o-border-radius: 4.8rem;

  &:hover,
  &.active {
    background-color: var(--color-main);
    color: var(--color-white);
  }
}

@media (max-width: 768px) {
  .tab {
    padding: 1.4rem 2rem;
    font-size: 1rem;
    line-height: normal;
  }
}
