.tab {
  position: relative;
  padding: 1.8rem 0.2rem;
  text-align: center;
  background-color: var(--color-tab-bg);
  color: var(--color-dark-black);
  border-radius: 4.8rem;
  -webkit-border-radius: 4.8rem;
  -moz-border-radius: 4.8rem;
  -ms-border-radius: 4.8rem;
  -o-border-radius: 4.8rem;

  span {
    z-index: 2;
  }

  div {
    position: absolute;
    width: 25px !important;
    height: 25px;
    left: 50%;
    top: 50%;
    background-color: var(--color-main);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }

  &:hover {
    color: var(--color-white);

    > div {
      visibility: initial;
      width: 100% !important;
      height: 100%;
      border-radius: 100px;
    }
  }
}

@media (max-width: 970px) {
  .tab {
    padding: 1.4rem 0.2rem;
    font-size: 1rem;
    line-height: normal;
  }
}

@media (max-width: 630px) {
  .tab {
    padding: 1.2rem 1rem;
  }
}
