.card {
  margin-top: 6rem;
  width: 1293px;
  padding: 6.4rem;
  gap: 3rem;
  border-radius: 2.4rem;
  background-color: var(--color-nav-bg);
  width: 100%;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
}

.cardDesc {
  font-size: 2rem;
  line-height: 3.2rem;
  max-width: 88.4rem;
}

@media (max-width: 768px) {
  .card {
    margin-top: 3.9rem;
    flex-direction: column-reverse;
    padding: 3rem;
  }

  .cardIcon svg {
    width: 8.3rem;
    height: 8.2rem;
  }

  .cardDesc {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
}
