.venn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the section takes the full viewport height */
  position: relative;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: start; /* Align items to the top of the circle */
  flex-direction: column;
  padding: 20px;
}

.left-circle {
  position: absolute;
  left: 20%;
}

.right-circle {
  position: absolute;
  right: 20%;
}

.center-text {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}

.element {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

/* .animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.circle {
  --circle-size: 62rem;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

.circle::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  right: -0.8rem;
  bottom: -0.8rem;
  border-radius: 50%;
  background: var(--color-border-gradient);
  z-index: -1;
}

.circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: var(--color-white);
  z-index: -1;
}

.circle-left {
  left: calc(50% - var(--circle-size) / 2 - 20rem);
  z-index: 1;
}

.circle-right {
  right: calc(50% - var(--circle-size) / 2 - 20rem);
  z-index: 2;
}

.innab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: var(--color-main);
  font-weight: bold;
  font-size: 24px;
}

.animated-element {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
  background-color: transparent;
  background-image: var(--color-border-gradient);
  color: var(--color-white);
  padding: 2rem;
  border-radius: 3.9rem;
  margin: 5px;
  font-size: 1.6rem;
  -webkit-border-radius: 3.9rem;
  -moz-border-radius: 3.9rem;
  -ms-border-radius: 3.9rem;
  -o-border-radius: 3.9rem;
}

.animated-element.animate {
  opacity: 1;
  transform: translateY(0);
} */
