/* most used css classes */

.flex {
  display: flex;
}

.alignItemsCenter {
  align-items: center;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentBetween {
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDirectionColumn {
  flex-direction: column;
}

/* header css */

.headerTop {
  padding: 2.4rem 0;
}

.headerTopLogo {
  width: 15.1rem;
  height: 6.8rem;
}

.headerTopRight {
  gap: 11.3rem;
}

.socialNetworks {
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.headerTopTools {
  gap: 4.2rem;
}

.headerTopContact {
  gap: 3.2rem;
}

.headerTopContact > li > a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.headerTopContact > li.headerTopEmail > a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.headerTopContact > li > a:hover {
  color: var(--color-main);
}

.searchForm {
  display: none;
}

/* header language */

.headerTopLang > select {
  font-size: 1.6rem;
  font-family: "Gilroy";
  font-weight: 500;
  text-transform: uppercase;
}

.headerBottom {
  padding: 1rem 0 1.1rem;
  background-color: var(--color-nav-bg);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}

.headerBottom.fixed {
  position: fixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.headerBottomRight {
  gap: 4rem;
}

.headerBottomRight > .headerTopLang {
  display: none;
}

/* navbar styles */

.navbarMenu {
  gap: 3.2rem;
}

.navbarMenu > li > div > a.active,
.navbarMenu > li > a:hover,
.navbarMenu > li > a.active,
.navbarMenu > li > div > a:hover,
.navbarMenu > li > button.active,
.navbarMenu > li > button:hover {
  position: relative;
}

.navbarMenu > li > div > a.active::after,
.navbarMenu > li > div > a:hover::after,
.navbarMenu > li > a:hover::after,
.navbarMenu > li > a.active::after,
.navbarMenu > li > button.active::after,
.navbarMenu > li > button:hover::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  top: calc(100% + 2.7rem);
  left: 0;
  background-color: var(--color-main);
  position: absolute;
}

.navbarMenu > li > button.active::after,
.navbarMenu > li > button:hover::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  top: calc(100% + 2.5rem);
  left: 0;
  background-color: var(--color-main);
  position: absolute;
}

.navbarMenu > li > div > svg,
.dropdown > li > p > svg {
  display: none;
}

/* dropdown style start */

.navbarMenuDy {
  position: relative;
}

.dropdown {
  gap: 4rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 3;
  top: calc(100% + 10px);
  left: 5%;
  min-width: 200px;
  width: 90%;
  background-color: var(--color-white);
  padding: 3.2rem 2.4rem;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
  box-shadow: 0 0.1rem 0.8rem 0 rgba(49, 56, 227, 0.21);
  /* transform: translateX(-20rem);
  -webkit-transform: translateX(-20rem);
  -moz-transform: translateX(-20rem);
  -ms-transform: translateX(-20rem);
  -o-transform: translateX(-20rem); */
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.navbarMenu > li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 2px);
}

.dy {
  flex-direction: column;
  width: max-content;
  left: 0;
  gap: 1rem;
  top: calc(100% + 35px);
}

.navbarMenu > li:hover > .dy {
  top: calc(100% + 27px);
}

.dropdown > li {
  font-size: 1.8rem;
}

.dy > li {
  font-size: 1.6rem;
}

.dropdown > li > p {
  font-weight: 600;
}

.dropdown > li > ul {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.dropdown > li > ul > li > a:hover,
.dy > li > a:hover,
.kdy > li:hover {
  color: var(--color-main);
}

.kdy > li {
  cursor: pointer;
}

/* dropdown style end */

/* swiper button disabled */

.swiper-button-disabled {
  opacity: 0.4;
}

/* swiper free mode */

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -ms-transition-timing-function: linear;
  -o-transition-timing-function: linear;
}

/* searchBar start */

.searchBar {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.3s ease;
  justify-content: space-between;
  gap: 2.4rem;
  padding: 0.9rem 2.4rem;
  border-radius: 300rem;
  border: 0.1rem solid #bfbfbf;
  -webkit-border-radius: 300rem;
  -moz-border-radius: 300rem;
  -ms-border-radius: 300rem;
  -o-border-radius: 300rem;
  -webkit-transition: width 0.3s ease, opacity 0.3s ease;
  -moz-transition: width 0.3s ease, opacity 0.3s ease;
  -ms-transition: width 0.3s ease, opacity 0.3s ease;
  -o-transition: width 0.3s ease, opacity 0.3s ease;
}

.searchBar.open {
  width: calc(100%);
  opacity: 1;
}

.searchBar > svg {
  color: var(--color-main);
}

.searchBar > input {
  background-color: transparent;
  font-size: 1.6rem;
  font-family: var(--main-font);
  font-weight: 500;
  flex: 2;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: var(--color-nav-bg);
  padding: 2.4rem 0;
}

.searchResults > .container > ul {
  gap: 1.6rem;
  padding: 0 2.4rem;
}

.searchResults ul > li > a {
  gap: 2.4rem;
}

.searchResults ul > li > a > svg {
  color: var(--color-main);
}

/* searchBar ended */

.headerMobileTools {
  display: none;
  gap: 1.6rem;
}

.headerMobileTools > button {
  background-color: var(--color-nav-bg);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.headerBottomSocials {
  display: none;
}

.headerMobileTools > .contactBtn {
  width: 11rem;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
}

/* error message */

.error {
  color: var(--color-red);
  font-size: 1.4rem;
}

/* modal */

.ReactModal__Content > div > p:first-of-type {
  font-weight: 600;
  font-size: 2.4rem;
}

.ReactModal__Content > div > p:last-of-type {
  font-size: 1.8rem;
  margin-top: 0.8rem;
}

.ReactModal__Content > button {
  color: var(--color-main);
}

.contactBtn {
  font-family: var(--main-font);
  position: relative;
  font-weight: 600;
  width: 18.4rem;
  background-color: var(--color-btn);
  border: 0.1rem solid;
  color: var(--color-white);
  border-radius: 4.5rem;
  -webkit-border-radius: 4.5rem;
  -moz-border-radius: 4.5rem;
  -ms-border-radius: 4.5rem;
  -o-border-radius: 4.5rem;
  padding: 1.4rem 2rem;
}

.btnHoverBg {
  position: absolute;
  width: 25px !important;
  height: 25px;
  left: 50%;
  top: 50%;
  background-color: var(--color-white);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  visibility: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.btnHB {
  background-color: var(--color-main);
}

.btnHover > span {
  z-index: 2;
}

.btnHover:hover {
  color: var(--color-black);
}

.btnHover:has(.btnHB):hover {
  color: var(--color-white);
}

.btnHover:hover .btnHoverBg {
  visibility: initial;
  width: 100% !important;
  height: 100%;
  border-radius: 100px;
}

/* accordion */
.MuiPaper-root.Mui-expanded {
  margin: 0 !important;
}

.MuiPaper-root::before {
  content: none !important;
}

.MuiAccordionSummary-root {
  padding: 0 !important;
}

.MuiAccordionSummary-content.Mui-expanded {
  h2,
  strong {
    color: var(--color-main);
  }
}

.MuiAccordionSummary-content.Mui-expanded > p {
  color: var(--color-main);
}

.vacancyW .MuiAccordionSummary-expandIconWrapper {
  svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.educationT .MuiAccordionSummary-expandIconWrapper {
  svg {
    width: 2rem;
    height: 2rem;
  }
}

.educationT .MuiAccordionSummary-root,
.educationT .MuiAccordionDetails-root {
  padding: 0;
}

.MuiAccordionActions-root {
  width: 100%;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}

/* timeline */

.vertical-timeline::before {
  top: 3.2rem !important;
  height: 80.4% !important;
}

.vertical-timeline-element:last-child .vertical-timeline-element-icon {
  background-color: var(--color-main) !important;
}

.vertical-timeline-element-icon img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  -o-object-fit: contain;
}

/* section title */

.sectionTitle {
  position: relative;
}

.sectionTitle::before,
.sectionTitle::after {
  content: "";
  background-color: var(--color-bg);
  height: 4.3rem;
  width: 39%;
  position: absolute;
  top: 0;
}

.stA::after,
.stA::before {
  content: none;
}

.sectionTitle::after {
  right: 0;
}

.sectionTitle h2 {
  font-size: 4rem;
  text-align: center;
}

/* trainings and its slider */

.tnMenu > li > div.active {
  border-radius: 7.8rem;
  background-color: var(--color-main);
  color: var(--color-white);
  -webkit-border-radius: 7.8rem;
  -moz-border-radius: 7.8rem;
  -ms-border-radius: 7.8rem;
  -o-border-radius: 7.8rem;
}

.trainingSlider {
  height: 64rem;
}

.trainingSlider .swiper-scrollbar {
  height: 0.8rem !important;
  width: 73% !important;
  --swiper-scrollbar-drag-width: 50%;
}

.trainingSlider .swiper-scrollbar-drag {
  background: var(--color-main);
  width: var(--swiper-scrollbar-drag-width) !important;
}

/* custom pagination */

.customPagination {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  font-size: 2.4rem;
  float: inline-end;
  /* margin-top: -1.8rem; */
}

.prevTraining:disabled,
.nextTraining:disabled {
  cursor: not-allowed;
}

.prevTraining:enabled > svg > path,
.nextTraining:enabled > svg > path {
  fill: var(--color-main);
}

.prevTraining:disabled > svg > path,
.nextTraining:disabled > svg > path {
  fill: #e4e4e4;
}

/* material ui custom css */

.MuiPagination-ul {
  button {
    color: var(--color-dark-black);
    font-size: 1.6rem;
    font-family: inherit;

    &.Mui-selected {
      background-color: var(--color-main);
      color: var(--color-white);
    }

    &.MuiPaginationItem-previousNext {
      border-radius: 3.4rem;
      border: 0.1rem solid var(--color-white-dark);
      color: var(--color-main);

      > svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &.Mui-disabled {
      color: var(--color-gray);
    }
  }
}

/* projects slider */
.projectSliderWrapper {
  position: relative;
}

.projectSlider {
  margin-top: 6.8rem;
  height: 50rem;
}

.projectSlider .swiper-slide {
  height: 42.2rem;
}

.swiper-slide-next .projectsCardS {
  background-color: rgba(49, 56, 227, 0.5);
  div {
    background-color: rgba(49, 56, 227, 0.7);

    div {
      background-color: var(--color-main);
    }
  }
}

.customBtn {
  background-color: var(--color-bg);
  width: 6rem;
  height: 6rem;
  border: 0.4rem solid var(--color-white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 999;
  overflow: hidden;
}

.prevBtn {
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.nextBtn {
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
}

/* page title */

.pageTop {
  margin-top: 5.6rem;
}

.pageTitle {
  padding: 3.3rem 0;
  max-width: 54.5rem;
  position: relative;
}

.pageTitle::after {
  content: "";
  position: absolute;
  top: 100%;
  background-color: var(--color-main);
  height: 0.2rem;
  width: 100%;
}

/* tabs menu */

.tabsMenu {
  margin-top: 6rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.tabsMenu > li {
  flex: 1;
}

.tbMenu > li {
  flex: none;
}

.tbMenu > li > a {
  padding: 1.6rem 2.4rem;
}

.tab.active {
  color: var(--color-white);

  > div {
    visibility: initial;
    width: 100% !important;
    height: 100%;
    border-radius: 100px;
  }
}

/* advertisement slider */
.adsSlider {
  margin-top: 4.2rem;
}

.adsSlider .swiper-pagination-bullet-active {
  background-color: var(--color-main);
}

/* trainings menu */

.trainingMenu {
  gap: 1.6rem;
}

.trainingMenu > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21.1rem;
  padding: 1.6rem 0;
  height: 5.5rem;
  overflow: hidden;
  border-radius: 6rem;
  border: 0.1rem solid var(--color-main);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.trainingMenu > li > ul > li {
  padding-inline: 2rem 0;
}

.trainingMenu > li.opened {
  overflow: visible;
  /* height: calc(100%); */
  height: max-content;
  /* background-color: var(--color-main); */
  /* color: var(--color-main); */
  border-radius: 2.4rem;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
}

.trainingMenu > li.opened > div {
  color: var(--color-main);
}

.trainingMenu > li.opened > ul > li.active,
.trainingMenu > li.opened > ul > li:hover {
  color: var(--color-white);
  background-color: var(--color-main);
}

.trainingMenu > li > div {
  padding-inline: 2rem 1.5rem;
  gap: 2rem;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.trainingMenu > li ul {
  margin-top: 2rem;
  line-height: 2.6rem;
  letter-spacing: 0.016rem;
}

/* video and blog details*/

.detailTopic.active {
  height: max-content;
}

.detailTopic.active > div:first-of-type {
  background-color: var(--color-main);
  color: var(--color-white);
}

.detailTopic.active > div:first-of-type > svg {
  transform: rotate(180deg);
}

.detailTopic.active h3 {
  color: var(--color-white);
}

/* customer card */

.customerCard {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;

  figure {
    height: 12.5rem;
    width: 18rem;
    border: 0;
  }
}

/* footer */

footer {
  margin-top: 8rem;
}

.footerTop {
  padding: 7.2rem 0;
  background-color: var(--color-bg);
}

.footerTopWrapper {
  gap: 4rem;
  flex-wrap: wrap;
  width: 100%;

  div {
    width: max-content;

    h5 {
      font-weight: 600;
      font-size: 2rem;
      color: var(--color-black);
    }

    p {
      max-width: 30.8rem;
    }

    ul,
    div {
      margin-top: 2.4rem;
      gap: 1.4rem;
      color: var(--color-black-70);
      font-size: 1.6rem;

      li {
        a:hover {
          color: var(--color-main);
        }
      }
    }
  }
}

.footerAdresses > p {
  margin-top: 1.4rem;
}

.footerLogo {
  margin-top: 4.3rem;
  width: 15.1rem;
  height: 6.9rem;
}

.footerCopy {
  background-color: var(--color-main);
  color: var(--color-white);
  padding: 2.8rem 0;
}

/* responsive */

@media (max-width: 1280px) {
  .headerTopRight {
    gap: 6rem;
  }

  .navbarMenu {
    gap: 2rem;
  }

  .headerBottomRight {
    gap: 2rem;
  }
}

@media (max-width: 1180px) {
  .navbarMenu {
    gap: 1rem;
  }

  .headerBottomRight {
    gap: 1rem;
  }

  .headerBottomRight > button > svg {
    width: 2.4rem;
  }

  .contactBtn {
    width: 14.4rem;
  }
}

@media (max-width: 1169px) {
  .vertical-timeline::before {
    height: 79% !important;
    top: 10.2rem !important;
    left: 50% !important;
    transform: translateX(50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(50%) !important;
    -ms-transform: translateX(50%) !important;
    -o-transform: translateX(50%) !important;
  }

  .vertical-timeline-element {
    margin-top: 12rem !important;
  }

  .vertical-timeline-element-content {
    margin-left: 0 !important;
  }

  .vertical-timeline-element-icon {
    top: -2% !important;
    left: 50% !important;
    transform: translate(-50%, -120%) !important;
    -webkit-transform: translate(-50%, -120%) !important;
    -moz-transform: translate(-50%, -120%) !important;
    -ms-transform: translate(-50%, -120%) !important;
    -o-transform: translate(-50%, -120%) !important;
  }
}

@media (max-width: 1024px) {
  .trainingSlider {
    height: 26rem;
    margin-top: 3.2rem;
  }

  .customPagination {
    display: none;
  }
}

@media (max-width: 1023px) {
  .swiper-pagination {
    top: 100% !important;
  }

  .sectionTitle h2 {
    font-size: 2.6rem;
  }

  .sectionTitle::before,
  .sectionTitle::after {
    top: 50%;
    transform: translateY(-50%);
    height: 2.3rem;
    width: 35%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  .partnersSlider {
    margin-right: unset !important;
    height: 38rem;
  }
}

@media (max-width: 992px) {
  header {
    position: relative;
  }

  .searchForm.open {
    display: block;
  }

  .searchForm.open > .searchBar {
    border: 0;
    border-bottom: 0.1rem solid #bfbfbf;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 100%;
    opacity: 1;
    padding: 1.6rem 2rem;
  }

  body:has(.searchBar.open) .headerTop {
    display: none;
  }

  .headerTopRight {
    display: none;
  }

  .headerMobileTools {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    gap: 3.2rem;
  }

  .headerBottom {
    display: block;
    position: absolute;
    background-color: var(--color-white);
    top: -100%;
    transform: translateY(100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    width: 100%;
    z-index: 99;
    overflow-x: scroll;
  }

  .headerBottom.opened {
    top: 100%;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  .navbarMenu {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .navbarMenu > li > a,
  .navbarMenu > li > div,
  .navbarMenu > li > button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 0.1rem solid #f5f5f5;
    padding: 1.6rem 0;
  }

  .navbarMenu > li > button.active,
  .navbarMenu > li > div > a.active,
  .navbarMenu > li > button:hover,
  .navbarMenu > li > div > a:hover {
    position: static;
  }

  .navbarMenu > li > a.active::after,
  .navbarMenu > li > div > a.active::after,
  .navbarMenu > li > a:hover::after,
  .navbarMenu > li > div > a:hover::after {
    content: none;
  }

  .navbarMenu > li > div > svg:first-of-type {
    display: block;
  }

  .dropdown {
    position: static;
    visibility: visible;
    opacity: 1;
    flex-direction: column;
    box-shadow: none;
    gap: 0;
    padding: 0;
    padding-left: 2.4rem;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
  }

  .dy {
    width: 100%;
  }

  .navbarMenu > li > a.opened,
  .navbarMenu > li > div > a.opened {
    color: var(--color-main);
  }

  .dropdown.open {
    height: calc(100%);
  }

  .dropdown > li {
    font-size: 1.6rem;
  }

  .dropdown > li > p,
  .dy > li {
    font-weight: 500;
    border-bottom: 0.1rem solid #f5f5f5;
    padding: 1.6rem 0;
    display: flex;
    justify-content: space-between;
  }

  .dropdown > li > p > svg {
    display: block;
  }

  .dropdown > li > ul.open ~ .dropdown > li > p {
    color: var(--color-main);
  }

  .dropdown > li > ul {
    height: 0;
    overflow: hidden;
    margin-top: 0;
    padding-left: 2.4rem;
    gap: 0;
  }

  .dropdown > li > ul > li {
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid #f5f5f5;
  }

  .dropdown > li > ul.open {
    height: calc(100%);
  }

  .headerBottomRight {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .headerBottomRight > .headerTopLang {
    display: block;
  }

  .headerBottomRight > button:first-of-type {
    display: none;
  }

  .headerBottomSocials {
    display: flex;
    gap: 1.2rem;
  }

  .headerBottomSocials > ul {
    gap: 2rem;
  }

  .headerBottomRight > .contactBtn {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .swiper-slide-active .projectsCardS {
    background-color: rgba(49, 56, 227, 0.5);
    div {
      background-color: rgba(49, 56, 227, 0.7);

      div {
        background-color: var(--color-main);
      }
    }
  }

  .swiper-slide-next .projectsCardS {
    background-color: rgba(49, 56, 227, 0.1);
    div {
      background-color: rgba(49, 56, 227, 0.3);

      div {
        background-color: rgba(49, 56, 227, 0.5);
      }
    }
  }
}

@media (max-width: 768px) {
  .headerTopLogo {
    width: 7.9rem;
    height: 3.6rem;
  }

  .projectSlider {
    margin-top: 3.8rem;
    height: 34rem;
  }

  .projectSlider .swiper-slide {
    height: 25.6rem;
  }

  .customBtn {
    display: none;
  }

  .contactBtn {
    font-size: 1.4rem;
  }

  .tabsMenu {
    gap: 1.2rem 0.55rem;
    margin-top: 4rem;
  }

  .pageTop {
    margin-top: 3.2rem;
  }

  .pageTitle {
    padding: 1.6rem 0;
    /* max-width: 75%; */
  }

  .pageTitle::after {
    width: 75%;
  }

  .adsSlider {
    margin-top: 2.4rem;
  }

  .vacancyW .MuiAccordion-root {
    padding: 1rem !important;
  }

  .trainingMenu li > div {
    font-size: 1.4rem;
  }

  .trainingMenu li ul {
    font-size: 1.4rem;
  }

  .educationT .MuiAccordion-root {
    padding: 1rem 0;
  }

  .educationT .MuiTypography-root {
    font-size: 1.4rem;
  }

  .educationT .MuiAccordionSummary-expandIconWrapper {
    svg {
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  .footerTop {
    padding: 3.2rem 0;
  }

  .footerCopy {
    padding: 1.5rem 0;
  }
}

@media (max-width: 630px) {
  .tabsMenu > li {
    flex: unset;
  }
}

@media (max-width: 520px) {
  .sectionTitle::before,
  .sectionTitle::after {
    top: 50%;
    transform: translateY(-50%);
    height: 2.3rem;
    width: 28%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
}

@media (max-width: 500px) {
  footer {
    margin-top: 5.2rem;
  }
}

@media (max-width: 480px) {
  .pageTitle::after {
    width: 85%;
  }

  .footerTopWrapper {
    div {
      p {
        max-width: 27rem;
      }

      ul,
      div {
        margin-top: 1.6rem;
        gap: 0.8rem;
        font-size: 1.4rem;
      }
    }
  }

  .footerLogo {
    margin-top: 2rem;
    width: 7.9rem;
    height: 3.6rem;
  }

  .footerCopy {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .sectionTitle::before,
  .sectionTitle::after {
    width: 20%;
  }

  .trainings {
    .container {
      margin: 0 0 0 auto;
    }
  }

  .partners {
    .container {
      margin: 0 0 0 auto;
    }
  }
}

@media (max-width: 375px) {
  .headerMobileTools > .contactBtn {
    width: 10rem;
    padding: 0.8rem;
  }
}

@media (max-width: 320px) {
  .headerTopLogo {
    width: 6.9rem;
    height: 2.6rem;
  }

  .headerTopLogo > img {
    object-fit: contain;
    -o-object-fit: contain;
  }

  .headerMobileTools {
    gap: 0.5rem;
  }

  .pageTitle::after {
    width: 95%;
  }
}
