.training {
  margin-top: 6rem;
}

.trainingInfo {
  margin-top: 5rem;

  h2 {
    font-size: 3.6rem;
    color: var(--color-main);
  }

  > div {
    margin-top: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.trainingWrapper {
  margin-top: 7.4rem;
  gap: 5rem;
}

.trainingAbout {
  flex-wrap: wrap;
  gap: 5rem 3.2rem;
}

.trainingAboutImg {
  position: relative;
  flex: 2;
  height: 38rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;

  img {
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
  }

  > button {
    display: none;
    position: absolute;
    width: 90%;
    height: 4.1rem;
    bottom: 2.2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.trainingAboutDet {
  flex: 1;
  gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 600;

  > a {
    width: 100%;
    padding: 1.6rem 2rem;
    gap: 1rem;
    color: var(--color-white);
    border-radius: 9.8rem;
    background-color: var(--color-main);
  }

  > div {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem;
    color: var(--color-white);
    background-color: var(--color-main);
    border-radius: 2.4rem;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
  }
}

.trainingAboutBottom {
  h2 {
    font-size: 3.6rem;
    color: var(--color-dark-black);
  }

  > div {
    margin-top: 3.2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

/* education */

.education {
  margin-top: 10.2rem;
  padding: 7.1rem 0 5.8rem;
  background-color: var(--color-bg);
  position: relative;
}

.educationWrapper {
  gap: 5.9rem;
}

.educationLeftBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 13%;
  height: 20.9rem;
  background-color: var(--color-main);
}

.educationLeft {
  z-index: 1;
  h2 {
    font-size: 4rem;
    line-height: 3.9rem;

    strong {
      color: var(--color-white);
    }
  }

  > div {
    margin-left: 12.9rem;
  }
}

.educationLeftContent {
  font-size: 2.8rem;
  line-height: 3.9rem;
  margin-top: 2rem;

  strong {
    color: var(--color-main);
  }
}

.educationLeftBtns {
  margin-top: 3.2rem;
  gap: 1.5rem;

  button:first-of-type {
    color: var(--color-black);
    border-color: var(--color-main) !important;

    &:hover {
      color: var(--color-white);
    }

    > div {
      background-color: var(--color-main);
    }

    span {
      display: flex;
      gap: 1.2rem;
      align-items: center;
    }
  }
}

/* rooms */

.rooms {
  margin-top: 11rem;
  padding: 2rem 0;
}

.roomsTitle {
  text-align: center;

  h2 {
    color: var(--color-main);
    font-size: 5rem;
  }
}

.roomsGrid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 26rem), 41rem));
  grid-auto-rows: 29rem;
  gap: 3.2rem;
  place-content: center;
}

.roomsCard {
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;

  picture {
    width: 100%;
    height: 100%;
  }
}

.roomsCard:hover {
  outline: 0.6rem solid var(--color-main);
}

/* faq contact */

.faqContact {
  margin-top: 13rem;
  gap: 3.6rem;

  > * {
    flex: 1;
  }

  section {
    margin-top: 0;
    padding: 3.2rem 7.2rem 3.2rem 3.2rem;
    width: 100%;

    > div {
      margin: 0;
      width: 100%;
    }
  }
}

.faq {
  padding: 3.2rem 2.6rem 3.2rem 7.2rem;
  background-color: var(--color-bg);
}

.faqTitle {
  text-align: center;

  h2 {
    font-size: 3.2rem;
  }
}

.faqWrapper {
  margin-top: 4rem;
}

.faqTraininMenu {
  display: none;

  h2 {
    font-size: 2.2rem;
    text-align: center;
  }

  ul {
    margin-top: 2.4rem;
  }
}

/* responsive */

@media (max-width: 1200px) {
  .roomsGrid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 26rem));
    grid-auto-rows: 20rem;
  }
}

@media (max-width: 1180px) {
  .educationLeftBtns {
    button {
      width: 18.4rem;
    }
  }
}

@media (max-width: 1100px) {
  .faqContact {
    margin-top: 7.2rem;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .trainingAbout {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .trainingAboutImg {
    flex: auto;
  }

  .trainingAboutDet {
    order: 1;
  }

  .educationWrapper {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .pageHeading,
  .training {
    margin-top: 3.2rem;
  }

  .trainingInfo {
    margin-top: 3.2rem;

    h2 {
      font-size: 2rem;
      line-height: 2.4rem;
    }

    > div {
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  .trainingWrapper {
    margin-top: 2.4rem;

    > .trainingMenu {
      display: none;
    }

    > ul {
      display: none;
    }
  }

  .trainingAbout {
    gap: 2.4rem;
  }

  .trainingAboutImg {
    button {
      display: flex;
    }
  }

  .trainingAboutDet {
    font-size: 1.4rem;
    font-weight: 600;

    > a {
      width: 100%;
      padding: 1.2rem;
      gap: 0.8rem;
      justify-content: center;
      border-radius: 14.5rem;
      -webkit-border-radius: 14.5rem;
      -moz-border-radius: 14.5rem;
      -ms-border-radius: 14.5rem;
      -o-border-radius: 14.5rem;
    }

    > div {
      font-size: 1.4rem;
      font-weight: 500;
      padding: 2rem 1.6rem;
      border-radius: 2.4rem;
      -webkit-border-radius: 2.4rem;
      -moz-border-radius: 2.4rem;
      -ms-border-radius: 2.4rem;
      -o-border-radius: 2.4rem;
    }
  }

  .trainingAboutBottom {
    h2 {
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    > div {
      margin-top: 2rem;
      font-size: 1.4rem;
      line-height: 2.1rem;
    }
  }

  .education {
    padding: 1.6rem 0;
  }

  .educationWrapper {
    gap: 4rem;
  }

  .educationLeftBg {
    height: 7.1rem;
  }

  .educationLeft {
    h2 {
      font-size: 2.4rem;
      line-height: 2rem;
    }

    > div {
      margin-left: 0;
    }
  }

  .educationLeftContent {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-left: 9rem;
  }

  .educationLeftBtns {
    justify-content: center;

    button {
      font-size: 1.4rem;

      span {
        display: flex;
        gap: 0.8rem;
        align-items: center;
      }
    }

    button {
      width: auto;
      height: 4.1rem;
    }
  }

  .rooms {
    margin-top: 5.2rem;
  }

  .roomsTitle {
    h2 {
      font-size: 2.2rem;
      line-height: 2rem;
    }
  }

  .roomsGrid {
    margin-top: 2.4rem;
  }

  .faqContact {
    section {
      padding: 3.2rem 2rem;
    }
  }

  .faq {
    padding: 1.6rem 2rem;
  }

  .faqTitle {
    h2 {
      font-size: 2.2rem;
    }
  }

  .faqWrapper {
    margin-top: 3.2rem;

    > div {
      padding: 1.2rem 0;
    }

    p {
      font-size: 1.4rem;
    }
  }

  .faqTraininMenu {
    display: block;
  }
}

@media (max-width: 587px) {
  .roomsGrid {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 15.75rem));
    grid-auto-rows: 16.4rem;
  }
}

@media (max-width: 500px) {
  .trainingAboutImg {
    height: 21.8rem;
  }

  .educationLeftBtns {
    button {
      padding: 1rem;
    }
  }
}
